* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Light background color */
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* White background with slight transparency */
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 400px; /* Set a fixed width for the container */
    margin: 100px auto; /* Center the container vertically and horizontally */
    padding: 20px;
}

header {
    /* background-color: #007bff; Bootstrap primary color */
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center; /* Center the text */
}

.loginHeader h1 {
    font-size: 2em; /* Larger font size for the header */
}

.loginHeader p {
    font-size: 1.2em; /* Slightly larger font size for the paragraph */
}

.loginBody {
    display: flex;
    flex-direction: column;
}

.loginInputsContainer {
    margin-bottom: 15px;
}

.loginInputsContainer label {
    display: block;
    margin-bottom: 5px;
    color: #555; /* Darker color for the label */
}

.loginInputsContainer input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    transition: border-color 0.3s, box-shadow 0.3s; /* Added box-shadow transition */
}

.loginInputsContainer input:focus {
    /* border-color: #007BFF; */
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); Box shadow on focus
}

.loginButtonContainer {
    text-align: center;
}

.loginButtonContainer button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Added button hover effects */
}

.loginButtonContainer button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.success-message, .error-message {
    margin-top: 10px;
    text-align: center;
    font-size: 0.9em;
}