* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('/images/login-background.png'); /* Replace with your image path */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:rgba(255,255,255,0.7);
    padding: 20px;
}

.homepage-header {
    text-align: center;
    margin-bottom: 30px;
}

.homepage-header h1 {
    color: #333;
    font-size: 2.5em;
}

.homepage-header p {
    color: #777;
    font-size: 1.2em;
}

.homepage-body {
    max-width: 800px;
    text-align: center;
}

.homepage-description {
    margin-bottom: 30px;
}

.homepage-description h2 {
    color: #007BFF;
}

.homepage-description p {
    color: black;
    font-size: 1em;
    line-height: 1.5;
}

.homepage-actions {
    margin-bottom: 30px;
}

.homepage-actions h2 {
    color: #007BFF;
}

.homepage-actions p {
    color: black;
    font-size: 1em;
    line-height: 1.5;
}

.homepage-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.homepage-footer {
    text-align: center;
    margin-top: 30px;
    color:black;
}
