* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('/images/login-background.png'); /* Replace with your image path */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255,255,255,0.8);
    
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9);
    width: 400px;
    padding: 20px;
    animation: fadeIn 0.5s ease-in-out; /* Fade-in animation */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.loginHeader {
    text-align: center;
    margin-bottom: 20px;
}

.loginHeader h1 {
    color: #333;
    font-size: 2.5em;
}

.loginHeader p {
    color: #777;
    font-size: 1.2em;
}

.loginBody {
    display: flex;
    flex-direction: column;
}

.loginInputsContainer {
    margin-bottom: 15px;
}

.loginInputsContainer label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.loginInputsContainer input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    transition: border-color 0.3s, box-shadow 0.3s; /* Added box-shadow transition */
}

.loginInputsContainer input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Box shadow on focus */
}

.loginButtonContainer {
    text-align: center;
}

.loginButtonContainer button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s; /* Added box-shadow transition */
}

.loginButtonContainer button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Shadow on hover */
}

.error-message {
    margin-top: 10px;
    text-align: center;
    font-size: 0.9em;
    color: red;
}
